---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: dockerhub-exporter
    literals: []

secretGenerator:
  - name: dockerhub-exporter
    literals: []

images:
  - name: dockerhub-exporter
    newName: quay.io/promhippie/dockerhub-exporter
    newTag: latest@sha256:3a298770e11ac55ada4193142de06dfc2b6397e56d8e55064d902a21e785da17

...
